$primary-color: #43aa5c;
$secondary-color: #071c1f;
$ternary-color: #999;

$section-bg-1: #f7f5eb;
$section-bg-2: #071c1f;
$section-bg-3: #43aa5d4e;
$section-bg-4: #071c1fc9;

$facebook: #365493;
$twitter: #3cf;
$instagram: #e4405f;
$youtube: #cb2027;
$google: #4285f4;

$heading-color: #071c1f;
$paragraph-color: #071c1f;
$white: #fff;
$icon-color: #f8ca38;
$active-color: #40ad40;
$off-color: #de200b;

$box-shadow-1: 0 1px 6px 0 rgba(54, 56, 61, 0.15);

$xl-heading: 300px;
$lg-heading: 48px;
$md-heading: 32px;
$sm-heading: 22px;

$border1: 2px solid #ddd;
$border2: 2px solid $primary-color;

$hover1: #3367d6;
$hover2: #f2f7f2;

$main-font-family: "Roboto", sans-serif;

$font-weights: (
  "regular": "400px",
  "medium": "600px",
  "bold": "900px",
);
